@charset "UTF-8";

@font-face {
  font-family: "BebasNeue-Regular";
  font-display: swap;
  src: url("../fonts/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico-Regular";
  font-display: swap;
  src: url("../fonts/Pacifico-Regular.woff") format("woff"), url("../fonts/Pacifico-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "BebasNeue-Regular";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "BebasNeue-Regular";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  height: 100%;
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 950px;
  margin: 0px auto;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
}

.form {
  margin-bottom: 30px;
}

.form-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 230px;
}

.form__column {
  flex: 1 1 50%;
}

.form-input {
  height: 50px;
  width: 450px;
  padding: 0px 20px;
  margin: 15px;
  border-radius: 5px;
}

.select-block {
  position: relative;
}

.select-label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #f7f7f7;
  padding: 0px 5px;
  color: #979797;
  font-weight: 600;
  font-size: 13px;
  line-height: 1px;
}

.select {
  position: relative;
  cursor: pointer;
}

.select .select-title {
  z-index: 1;
  width: 100%;
  height: 55px;
  border: 1px solid #dedede;
  position: relative;
  background-color: #fff;
}

.select .select-title__arrow {
  position: absolute;
  top: 0;
  right: 0px;
  width: 45px;
  height: 100%;
  background: url(/img/icons/select-arrow.svg) center no-repeat;
}

.select .select-title__value {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 53px;
  display: block;
  overflow: hidden;
  padding: 0px 45px 0px 25px;
  white-space: nowrap;
  text-transform: none;
  text-overflow: ellipsis;
}

.select .select-options {
  position: absolute;
  z-index: 10;
  top: 54px;
  display: none;
  overflow: hidden;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 10px 20px 10px 25px;
}

.select .select-options-scroll {
  max-height: 80px;
  overflow: auto;
}

.select .select-options-list {
  padding: 0px 0px 0px 0px;
}

.select .select-options__value {
  color: #000;
  font-size: 20px;
  margin: 0px 0px 15px 0px;
}

.select .select-options__value:last-child {
  margin: 0px 0px 0px 0px;
}

.select .select-options__value:hover {
  color: #000;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  /*border-radius: 0 !important;*/
  position: relative;
  width: 100%;
  display: block;
  padding: 0px 20px;
  /*margin: 0px 0px 20px 0px;*/
  height: 50px;
  border-top: 1px solid #000;
  background-color: #f8f7f7;
  color: #959595;
  font-size: 15px;
}

.input.focus {
  border-top: 1px solid blue;
}

.input.err {
  border-top: 1px solid red;
}

textarea.input {
  resize: none;
  height: 210px;
  padding: 10px 20px;
}

.check {
  position: relative;
  padding-left: 25px;
  color: #5f5f5f;
  line-height: 18px;
  cursor: pointer;
}

.check input {
  display: none;
}

.check::before {
  content: "";
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #a3a3a3;
  position: absolute;
}

.no-webp .check:active::before{
  background: url(/img/icons/check.png) center no-repeat; }

.header {
  height: 132px;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 10;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__logo {
  font-family: "Pacifico-Regular";
  font-size: 42px;
  line-height: 18px;
  font-weight: 400;
  color: #474747;
}

.menu__list {
  display: flex;
}

.menu__list li {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  margin-right: 60px;
}

.menu__list li:last-child {
  margin-right: 0;
}

.menu__list li span {
  font-family: "BebasNeue-Regular";
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: #a5a5a5;
}

.menu__link {
  font-family: "BebasNeue-Regular";
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
  color: #474747;
}

.footer {
  max-height: 70px;
  margin-top: 73px;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.footer__left {
  font-family: "HelveticaNeue";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #9b9b9b;
}

.footer__left span {
  color: #6e6e6e;
}

.footer__right {
  font-family: "HelveticaNeue";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #9b9b9b;
}

.footer__right span {
  color: #656565;
}

.footer__container {
  height: 100%;
}

.aboutUs {
  margin-top: 200px;
}

.aboutUs__title {
  font-size: 24px;
  line-height: 18px;
  font-weight: 400;
  color: #474747;
  margin-bottom: 13px;
}

.aboutUs__subtitle {
  font-family: "HelveticaNeue";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  color: #9e9e9e;
  margin-bottom: 45px;
  position: relative;
}

.aboutUs__subtitle::after {
  content: url("../img/about/line.png");
}

.aboutUs__content {
  display: flex;
  margin: 0 -18px;
  position: relative;
  margin-bottom: 120px;
}

.aboutUs__content::after {
  content: url("../img/about/line.png");
  position: absolute;
  bottom: -58px;
  left: 15px;
}

.aboutUs__column {
  flex: 1 1 33.333%;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
}

.aboutUs__column-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #474747;
  margin-bottom: 26px;
  flex: 1 1 auto;
}

.aboutUs__column-subtitle {
  font-family: "HelveticaNeue";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #9e9d9d;
  margin-bottom: 25px;
  flex: 1 1 auto;
}

.aboutUs__column-text {
  font-family: "HelveticaNeue";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #474747;
}

.clients {
  margin-bottom: 29px;
}

.clients__container {
  position: relative;
}

.clients__container::after {
  content: url("../img/about/line.png");
  position: absolute;
  left: 0;
  bottom: -97px;
}

.clients__content {
  display: flex;
  margin: 0 -10.5px;
}

.clients__column {
  padding: 0 10.5px;
  flex: 1 1 33.333%;
}

.clients__column-image {
  margin-bottom: 17px;
}

.clients__column-image img {
  max-width: 100%;
}

.clients__column-title {
  margin-bottom: 19px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 7.5px;
}

.clients__column-title_name p:first-child {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #474747;
}

.clients__column-title_name p:last-child {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #949393;
}

.clients__column-title_rating {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #515151;
}

.clients__column-text {
  font-family: "HelveticaNeue";
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #515151;
  padding: 0 7.5px 0 8px;
}

.projects {
  margin-top: 200px;
}

.projects__container {
  overflow: hidden;
}

.projects__content {
  display: flex;
}

.projects__tabs {
  margin-right: 57px;
  max-width: 661px;
}

.tabs__items {
  display: flex;
}

.tabs__item {
  text-transform: uppercase;
  margin-right: 26px;
  font-family: "BebasNeue-Regular";
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #474747;
  position: relative;
}

.tabs__item::before {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: -11px;
}

.tabs__body {
  margin-top: 27px;
}

.tabs__block {
  font-size: 24px;
  line-height: 24px;
  display: none;
}

.tabs__block:target {
  display: block;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.project__item {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  margin-right: 18px;
  margin-bottom: 32px;
}

.project__item:nth-child(1) .project__item-image img {
  height: 240px;
}

.project__item:nth-child(2) .project__item-image img {
  height: 332px;
}

.project__item:nth-child(3) .project__item-image img {
  height: 265px;
}

.project__item:nth-child(4) .project__item-image img {
  height: 332px;
}

.project__item:nth-child(5) .project__item-image img {
  height: 265px;
}

.project__item:nth-child(6) .project__item-image img {
  height: 285px;
}

.project__item-image {
  margin-bottom: 16px;
}

.project__item-image img {
  max-width: 100%;
  -o-object-fit: none;
     object-fit: none;
}

.project__item-title {
  margin-bottom: 23px;
}

.project__item-title p:first-child {
  font-family: "BebasNeue-Regular";
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #474747;
}

.project__item-title p:last-child {
  font-family: "BebasNeue-Regular";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #949393;
}

.project__item-text {
  font-family: "HelveticaNeue";
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #515151;
}

.blog-container {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

.main__blog {
  overflow: hidden;
  margin-right: 66px;
  margin-bottom: -73px;
}

.main__blog-title {
  margin-bottom: 63px;
}

.main__blog-title h1 {
  font-size: 24px;
  line-height: 18px;
  font-weight: 400;
  color: #474747;
  margin-bottom: 13px;
}

.main__blog-title p {
  font-family: "HelveticaNeue";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  color: #9e9e9e;
}

.main__blog-title::after {
  content: url("../img/about/line.png");
}

.blog-item {
  margin-bottom: 117px;
  position: relative;
}

.blog-item::after {
  content: url(../img/about/line.png);
  position: absolute;
  bottom: -56px;
  left: 0;
}

.blog-item__title {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  color: #464646;
  margin-bottom: 20px;
}

.blog-item__image {
  margin-bottom: 32px;
}

.blog-item__image img {
  max-width: 100%;
}

.blog-item__description {
  display: flex;
}

.blog-item__description-info {
  margin-right: 51px;
  flex: 1 1 50%;
}

.blog-item__description-text p {
  font-family: "HelveticaNeue";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #414141;
  margin-bottom: 27px;
}

.blog-item__description-text p:last-child {
  margin-bottom: 0;
}

.info {
  margin-bottom: 16px;
}

.info:last-child {
  margin-bottom: 0;
}

.info p:first-child {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #464646;
}

.info p:last-child {
  font-family: "HelveticaNeue";
  color: #bababa;
  display: block;
  width: 100%;
}

.blog__sidebar {
  margin-top: 56px;
  max-width: 218px;
  overflow: hidden;
}

.sidebar-item {
  margin-bottom: 31px;
}

.sidebar-item__title {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #464646;
  position: relative;
  margin-bottom: 27px;
}

.sidebar-item__title::after {
  content: url(../img/about/line.png);
  position: absolute;
  bottom: -13px;
  left: 0;
}

.sidebar-item__text {
  font-family: "HelveticaNeue";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #464646;
}

.sidebar-item__links {
  display: flex;
  flex-direction: column;
}

.sidebar-item__links a {
  font-family: "HelveticaNeue";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #464646;
}

.sidebar-item__tags {
  font-family: "HelveticaNeue";
  line-height: 14px;
  font-size: 12px;
  font-weight: 400;
}

.sidebar-item__tags a {
  color: #464646;
  margin-bottom: 8px;
  display: inline-block;
}

.sidebar-item__tags a span {
  color: #bababa;
}

.sidebar-item__tags p {
  color: #999999;
  margin-bottom: 22px;
}

.contact__container {
  margin-top: 200px;
  display: flex;
}

.contact__content {
  margin-right: 66px;
  overflow: hidden;
}

.contact__text p {
  font-family: "HelveticaNeue";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  color: #464646;
  margin-bottom: 27px;
}

.contact__text p:last-child {
  line-height: 18px;
  font-weight: 400;
  color: #414141;
  margin-bottom: 0;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.contact__form input {
  width: 218px;
  height: 35px;
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
}

.contact__form textarea {
  width: 494px;
  height: 205px;
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
}

.contact__form button {
  max-width: 65px;
  background-color: #fff;
}

.page {
  flex: 1 1 auto;
}

.link a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #474747;
  padding: 5px;
}

.link a::before {
  content: url("../img/icon.png");
  margin-right: 10px;
}

.link a:hover {
  background-color: #3f3f3f;
  color: #fff;
}

.main__slider {
  width: 100%;
  min-height: 425px;
  margin-top: 132px;
}

.slide__content {
  position: relative;
}

.slide__image img {
  width: 100%;
  height: 100%;
}

.slide__text {
  max-width: 217px;
  height: 72px;
  opacity: 0.9;
  background-color: #444;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px 17px;
}

.slide__text p:first-child {
  font-family: "BebasNeue-Regular";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #9a9a9a;
}

.slide__text p:last-child {
  font-family: "BebasNeue-Regular";
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.swiper-scrollbar {
  background-color: #fff;
}

.main__slider-description {
  width: 942px;
  height: 95px;
  background-color: #f5f5f5;
  padding-left: 17px;
  width: 100%;
}

.main__slider-description p:first-child {
  font-family: "BebasNeue-Regular";
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #474747;
  padding: 20px 0 16px;
}

.main__slider-description p:last-child {
  font-family: "HelveticaNeue";
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #474747;
}

.description {
  margin-top: 90px;
  margin-bottom: 67px;
}

.description__content {
  display: flex;
  justify-content: center;
}

.description__column {
  flex: 1 1 33.333%;
  margin-right: 45px;
  display: flex;
  flex-direction: column;
}

.description__column:last-child {
  margin-right: 0;
}

.description__column-header {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}

.description__column-header-image {
  margin-right: 32px;
}

.description__column-header-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #464646;
  padding-right: 46px;
}

.description__column-body {
  font-family: "HelveticaNeue";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #414141;
  padding: 0 6px;
  margin-bottom: 22px;
}

.description__column-footer {
  padding-left: 1px;
}

.latest__title {
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #474747;
  position: relative;
  margin-bottom: 53px;
}

.latest__title::after {
  content: url("../img/latest/title-line.png");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.latest__title span {
  display: inline-block;
  background-color: #fff;
  padding: 8px 29px;
  position: relative;
  z-index: 2;
}

.latest__content {
  display: flex;
  margin: 0 -10px;
}

.latest__column {
  padding: 0 10px;
  flex: 1 1 25%;
}

.latest__column-image {
  margin-bottom: 18px;
}

.latest__column-title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #414141;
  margin-bottom: 17px;
}

.latest__column-text {
  font-family: "HelveticaNeue";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #414141;
  margin-bottom: 17px;
}

@media (max-width: 1000px) {
  .projects__tabs {
    width: 100%;
    padding: 0 25px;
  }

  .main__blog {
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
  }

  .blog-item__description-info {
    margin-right: 64px;
  }

  .blog-item__description-text {
    padding-right: 31%;
  }

  .blog__sidebar {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .contact__content {
    width: 100%;
    padding: 0 25px;
  }

  .description__column-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .description__column-header-title {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }

  .latest__content {
    flex-wrap: wrap;
  }

  .latest__column {
    flex: 1 1 50%;
    margin-bottom: 35px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 962px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0px 10px;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    padding: 10px;
  }

  /*Расположение полосок*/

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #474747;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  /*Верхняя полоска*/

  .menu__icon::before {
    top: 0;
  }

  /*Нижняя полоска*/

  .menu__icon::after {
    bottom: 0;
  }

  /*Средняя полоска*/

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  /*Анимация иконки бургера при нажатии на него*/

  /*Убираем среднюю полоску*/

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  /*Верхнюю полоску наклоняем на 45 градусов*/

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
    background-color: #fff;
  }

  /*Нижнюю полоску наклоняем на 45 градусов*/

  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
    background-color: #fff;
  }

  /*Вёрстка меню в мобильной версии*/

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    /*Скрыто по умолчанию*/
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    /*Вылетает слева*/
    overflow: auto;
    /*Для появления скролла меню в случае, если оно не влезает на экран целиком*/
  }

  .menu__list {
    flex-direction: column;
  }

  /*Меню вылетает слева при получении menu__body класса _active*/

  .menu__body._active {
    left: 0;
  }

  /*Плашка сверху меню для того, чтобы элементы меню при скролле не налезали на шапку с иконкой значками и прочим*/

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    /*Высотой по размеру иконки (круглой)*/
    z-index: 2;
    /*С индексом больше чем у элементов меню*/
  }

  /*Отступы для элементов меню*/

  .menu__list > li {
    flex-wrap: wrap;
    /*Чтобы подменю могло находиться под элементом меню при нажати на стрелочку*/
    margin: 0 0 30px 0;
  }

  /*Не забывать убирать у последнего*/

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  /*Шрифт покрупнее для мобильной версии*/

  .menu__link {
    font-size: 24px;
    color: #fff;
  }

  .tabs__body {
    width: 100%;
  }

  .project__item {
    flex: 1 1 100%;
  }

  .main__blog {
    display: flex;
    flex-direction: column;
  }

  .main__slider {
    min-height: 0;
  }

  .description__content {
    flex-direction: column;
  }

  .description__column {
    margin-bottom: 25px;
  }
}

.webp .check:active::before{ background: url(/img/icons/check.webp) center no-repeat; }